:root {
  --text-color: #212121;
  --background-main: #fff;
  --background-footer: #2f303a;
  --excretion-color: #2196f3;
  --background-fon: #f5f4fa;
}

body {
  font-family: 'roboto';
  font-size: 14px;
  line-height: 24px;
  background-color: var(--background-main);
  color: var(--text-color);
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

p {
  color: #757575;
  font-weight: 400;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
}

button:hover,
button:focus {
  background-color: var(--excretion-color);
  color: #fff;
}

footer {
  background-color: var(--background-footer);
}

.hero {
  background-color: var(--background-footer);
}

.buttons {
  background-color: #2196f3;
  color: var(--text-color);
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 30px;
}

.filter {
  background-color: #f5f4fa;
  letter-spacing: 0.03em;
  line-height: 26px;
}

/* head */

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--excretion-color);
}
.logo-black-part {
  color: #000000;
}
.logo-white-part {
  color: #ffffff;
}

.navigation a:hover,
.navigation a:focus {
  color: var(--excretion-color);
}
.navigation {
  color: var(--text-color);
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.navigation .current {
  color: var(--excretion-color);
}

.invisible-title {
  display: none;
}

.features > li > h3 {
  line-height: 16px;
  text-transform: uppercase;
}

.projects > li > h3 {
  letter-spacing: 0.06em;
  line-height: 36px;
}

.projects > li > p {
  line-height: 30px;
}

.team-card {
  font-size: 16px;
  line-height: 19px;
}

.adress a {
  color: #fff;
}

.contacts a {
  color: rgba(255, 255, 255, 0.6);
}

.our-team {
  background-color: var(--background-fon);
}
