:root {
  --text-color: #212121;
  --background-main: #fff;
  --background-footer: #2f303a;
  --excretion-color: #2196f3;
}

body {
  font-family: 'roboto';
  font-size: 14px;
  line-height: 1.5;
  background-color: var(--background-main);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}

p {
  color: #757575;
}

h2 {
  font-style: bold;
  font-size: 36px;
}

h1 {
  font-size: 44px;
  color: #fff;
}

button:hover,
button:focus {
  background-color: var(--excretion-color);
  color: #fff;
}

.buttons-filter {
  background-color: #f5f4fa;
  color: var(--text-color);
  cursor: pointer;
}

/* head */

.logo {
  font-family: Raleway;
  font-style: Bold;
  font-size: 26px;
  color: var(--excretion-color);
}
.logo-second-part {
  color: #000;
}

.navigation a:hover,
.navigation a:focus {
  color: var(--excretion-color);
}

.invisible-title {
  display: none;
}

.team-card {
  font-size: 16px;
}

.adress a {
  color: #fff;
}

.contacts a {
  color: rgba(255, 255, 255, 0.6);
}
